<section class="row">
    <div class="col-12 d-flex justify-content-between mb-4">
        <h1 class="d-inline">Produtos</h1>
        <button class="btn btn-primary" routerLink="product/create">Criar Produto</button>
    </div>
    <div class="col-12" *ngIf="products.length > 0, else noneProduct">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-3 mb-3 d-flex justify-content-center" *ngFor="let product of products">
            <app-card [product]="product" ></app-card>
          </div>
        </div>
        <div class="row">
          <nav aria-label="Page navigation">
            <ul class="pagination d-flex justify-content-center">
              <li class="page-item"><a class="page-link" (click)="previous()" *ngIf="previousPage > 0">Página anterior</a></li>
              <li class="page-item"><a class="page-link" (click)="next()" *ngIf="nextPage <= maxPages">Próxima página</a></li>
            </ul>
          </nav>
        </div>
    </div>
</section>

<ng-template #noneProduct>
  <h2>Nenhum produto cadastrado</h2>
</ng-template>
