<form class="row">
  <div class="col-12 col-md-6">
    <div class="mb-3">
      <label for="photo" class="form-label">Foto do produto</label>
      <input class="form-control" type="file" id="photo" name="photo" (change)="onFileSelected($event)">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" required id="name" name="name" [(ngModel)]="product.name">
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Preço</label>
      <input type="number" step="0.01" min="1" required class="form-control" id="price" name="price" [(ngModel)]="product.price">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descrição</label>
      <textarea class="form-control" required name="description" id="description" rows="5" [(ngModel)]="product.description"></textarea>
    </div>
    <div class="mb-3">
      <label for="brand" class="form-label">Marca</label>
      <input type="text" class="form-control" required id="brand" name="brand" [(ngModel)]="product.brand">
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center">
    <app-card [product]="product" [showButtons]="false"></app-card>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="submit" class="btn btn-primary me-5" (click)="save()" >Salvar</button>
    <button type="submit" class="btn btn-primary" routerLink="">Cancelar</button>
  </div>
</form>
